#file-select-form {
    width: var(--main-content-width);
    border: dashed 5px var(--body-color2);
    border-radius: 10px;
    background-color: var(--body-color4);
    min-width: 0;
    box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6);
    margin: 0 auto;
    position: relative;
}

#file-select-form:hover {
    animation: form-hover 1s forwards;
}

@keyframes form-hover {
  0% {
    box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
  }
}

#file-select-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* padding: 0% 5% 5% 5%; */
    padding: 3% 5%;
    margin: 0;
}

#image-sample {
    width: 100%;
}

#image-select-guide {
    color: var(--body-color2);
    font-size: 2.5em;
    padding: 2% 4%;
    background-color: var(--body-color1);
    border-bottom: solid 0.1em var(--body-color2);
    border-right: solid 0.1em var(--body-color2);
    box-shadow: 7px 7px 7px 7px rgba(0,0,0,0.6);
    border-radius: 0 0 10px 0;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
}

@media screen and (max-width : 500px) {
    #file-select-form {
        box-shadow: 0px 7px 7px 7px rgba(0,0,0,0.6);
        border: dashed 3px var(--body-color2);
    }

    #image-select-guide {
        width: 100%;
        border-right: 0px;
        border-radius: 0px;
    }

    #image-select-guide {
        font-size: 1.5em;
    }

    #file-select-label {
        padding: 15% 2% 2%;
    }

    @keyframes form-hover {
        0% {
            box-shadow: 0px 7px 7px 7px rgba(0,0,0,0.6);
        }
        100% {
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
        }
    }
}