#image-buffer {
    display: none;
}

#preview {
    position: relative;
    display: none;
    padding: 0;
    width: var(--main-content-width);
    margin: 0 auto 5% auto;
    min-width: 0;
    box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6);
}

#preview-image {
    width: var(--main-content-width);
    /* height: 70vh; */
    border: solid 5px var(--body-color4);
    border-radius: 10px;
    margin: 0;
}

#preview-text {
    font-size: 2em;
    color: var(--body-color2);
    background-color: var(--body-color4);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.3em 1em 0.3em 0.7em;
    opacity: 0.9;
}

#loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    margin: auto;
    font-size: 5em;
    color: var(--theme-color);
    display: none;
}

#editor-tools {
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    margin: auto;
}

#download-btn {
    font-size: 3em;
    display: none;
    cursor: pointer;
}

#image-sample {
    width: 100%;
}

#file-select-form {
    width: var(--main-content-width);
    border: dashed 5px var(--body-color2);
    border-radius: 10px;
    background-color: var(--body-color4);
    min-width: 0;
    box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6);
    margin: 0 auto;
}

#file-select-form:hover {
    animation: form-hover 1s forwards;
}

@keyframes form-hover {
  0% {
    box-shadow: 0px 15px 15px 15px rgba(0,0,0,0.6);
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
  }
}

#file-select-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 3% 5% 5% 5%;
}

#image-edit {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 3%;
}

#image-select-guide {
    color: var(--body-color2);
    font-size: 2.5em;
    border-bottom: solid 3px var(--body-color2);
    padding-bottom: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 100%;
}

@media screen and (max-width : 500px) {
    #image-select-guide {
        font-size: 2em;
    }

    #download-btn {
        font-size: 1.5em;
    }

    #preview {
        box-shadow: 0px 7px 7px 7px rgba(0,0,0,0.6);
        margin-bottom: 3%;
    }

    #file-select-form {
        box-shadow: 0px 7px 7px 7px rgba(0,0,0,0.6);
    }

    #file-select-label {
        padding: 1% 3% 3% 3%;
    }

    @keyframes form-hover {
        0% {
            box-shadow: 0px 7px 7px 7px rgba(0,0,0,0.6);
        }
        100% {
            box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
        }
    }
}