* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

:root {
  --theme-color: #00e091;
  --body-color1: #1E1F26;
  --body-color2: #EEEEEE;
  --body-color3: #f7f7f7;
  --body-color4: #2c2c33;
  --font-color1: #d6d6d6;
  --font-color2: black;
  --footer-color: #1E1F26;
  --header-color: #1E1F26;
  --line-color: #00B900;
  --facebook-color: #3C5A99;
  --twitter-color: #1DA1F2;
  --header-height: 13vh;
  --header-logo-height: 10vh;
  --main-content-wrap-padding: 20px;
  --main-content-width: 80vw;
}

body {
    background-color: var(--body-color1);
}

#main-content-wrap {
    margin-top: var(--header-height);
    padding: var(--main-content-wrap-padding);
    height: calc(100vh - var(--header-height));
    width: 100vw;
}

.btn {
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.6);
    background-color: var(--body-color4);
    color: var(--body-color2);
}

.btn:hover{
    animation: btn-hover 1s forwards; 
}

@keyframes btn-hover {
  0% {
    background-color: var(--body-color4);
    color: var(--body-color2);
    box-shadow: 0px 3px 3px 3px rgba(0,0,0,0.6);
  }
  100% {
    background-color: var(--body-color2);
    color: var(--body-color4);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
  }
}

@media screen and (max-width : 500px) {
    :root {
        --header-height: 8vh;
        --header-logo-height: 7vh;
        --main-content-wrap-padding: 0px;
        --main-content-width: 95vw;
    }

    #main-content-wrap {
        padding-top: 15vh;
    }
}