#splash {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color1);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

#splash-logo {
    width: 25vw;
    margin-left: center;
    margin-right: center;
}

#splash-text {
    margin-left: center;
    margin-right: center;
    font-size: 1em;
    color: var(--body-color2);
    text-align: center;
}

@keyframes blur {
  0% {
    filter: blur(0);
  }
  100% {
    filter: blur(5px);
  }
}