<img id="header-logo" src="images/logo-white.png">

<div id="share-btns">
    <a id="line-btn" class="share-btn"
        href="https://social-plugins.line.me/lineit/share?url=https%3A%2F%2Fface-blur.netlify.com" target="_blank"><i
            class="fab fa-line"></i></a>
    <a id="twitter-btn" class="share-btn"
        href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fface-blur.netlify.com" title="Twitterでシェア"
        class="share" target="_blank" data-lang="ja"><i class="fab fa-twitter-square"></i></a>
    <a id="facebook-btn" class="share-btn"
        href="http://www.facebook.com/share.php?u=https%3A%2F%2Fface-blur.netlify.com" rel="nofollow" target="_blank"><i
            class="fab fa-facebook-square"></i></a>
</div>