<div id="preview">
    <img id="preview-image">
    <h1 id="preview-text"><i class="fas fa-paint-brush"></i> Preview</h1>
    <div id="editor-tools">
        <button type="button" class="btn btn-dark btn-lg" id="blur-btn"><i class="fas fa-play"></i> Blur face</button>
        <button type="button" class="btn btn-dark btn-lg" id="download-btn"><i class="fas fa-cloud-download-alt"></i>
            Download</button>
    </div>
</div>

<form id="file-select-form" class="">
    <label id="file-select-label" for="file-select-input">
        <h1 id="image-select-guide"><i class="far fa-file-image"></i> Drop image here or click to select</h1>
        <input type="file" id="file-select-input" style="display:none;">
        <img id="image-sample" src="images/face-blur-sample.png">
    </label>
</form>

<canvas id="image-buffer"></canvas>